<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <h2>Login SUCCESS !</h2>
      <div>
          {% with messages = get_flashed_messages() %}
              {% if messages%}
                  {% for message in messages %}
                      <div> {{message}}</div>
                  {% endfor %}
               {% endif %}
          {%endwith%}
      
      </div>
	<script src="index.js"></script>
  </body>
</html>